body {
    padding: 60px
}

#note {
    color: #ff9933
}

#note:hover {
    color: #ffcc66
}

button {
    border: 2px dotted;
    border-radius: 10px;
    background-color: #ff9999;
    color: white;
    text-shadow: 5px 2px 8px #0000ff;
}

button:hover {
    border: 2px solid;
    background-color: #ff9999;
    color: white;
    text-shadow: none
}